# Logs
logs
*.log

# Dependencies
node_modules/

# Environment Variables
.env
.env.local
.env.prod
.env.prod

# Data & Downloads
downloads/

# Temp Directories
tmp/
worker/tmp/
api/tmp/

# OS-specific files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# project all most important files
infra/digitalocean/docker-compose.prod.yml

